# Copy this file to .env.development.local for local development
# or .env.production.local for production deployment.
# Do NOT commit real secret values to GitHub.

PORT=5000
DB_URL=mongodb://workconnect:robin23102@ac-ytmberq-shard-00-00.qvkn2it.mongodb.net:27017,ac-ytmberq-shard-00-01.qvkn2it.mongodb.net:27017,ac-ytmberq-shard-00-02.qvkn2it.mongodb.net:27017/?ssl=true&replicaSet=atlas-wxsexm-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET_KEY=hehehaha
JWT_EXPIRES_IN=7d
SMS_API_KEY=xM1P7U6xo2E5OYvz5OtJsQp13pIWa950XoDmOd3Z
SMS_API_URL=https://api.sms.net.bd/sendsms
